* {
  margin: 0;
  padding: 0;
  box-sizing: 0 auto;
}

body {
  font-family: sans-serif;
}

/* DEBUG */
/* .debug {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
} */

/* FINE DEBUG */
/* inizio header */

header main footer {
  max-width: 98%;
  flex-wrap: wrap;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.bg-blue {
  background-color: #3260E0
}

.bg-black {
  background-color: #23272A;
}

.white-text {
  color: white;
}

a {
  display: inline-block;
}

header .container .row {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}


header .container .row ul .navbar {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

header .row nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-weight: 550;
}

header .row #accedi a {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 12px;
  font-weight: 550;
}

header #jumbo {
  display: inline-block;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header .row-text-box {
  display: flex;
  max-width: 100%;
  text-align: center;
  font-weight: 550;
}

header .row-text-box .col-text-box {
  margin: 0 auto;
  width: 50%;
}

header .row-buttons {
  justify-content: center;
}

header .row-buttons .buttons {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

header .row-buttons .buttons {
  display: flex;
  justify-content: center;
  list-style: none;
  font-weight: 550;
}

header .row-buttons .buttons a {
  text-decoration: none;
  padding: 15px;
  border-radius: 20px;
}

header .row-buttons .buttons .buttons-white a {
  background-color: white;
  color: black;
  margin-right: 30px;
}

header .row-buttons .buttons .buttons-black a {
  background-color: #23272A;
  color: white;
}


/* fine header */
/* inizio main */

main .container .row {
  max-width: 100%;
  display: flex;
  padding-bottom: 160px;
}

main .container .col-sessanta {
  margin-right: 50px;
  padding-top: 20px;
  max-width: 100%;
}

main .container .col-quaranta {
  margin: 50px;
  width: 40%;
  font-size: 1.5rem;
}

main .container .row-tech {
  text-align: center;
}

main .container .row-tech .testo,
.img {
  align-content: center;
  font-weight: 550;
  font-size: 1.2rem;
}

main .container .row-tech .testo-cta {
  display: inline-block;
  margin: 0 auto;
  padding: 70px;
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  max-width: 100%;
}

main .container .row-cta .col-cta {
  text-align: center;
}

main .container .row-cta .col-cta a {
  text-decoration: none;
  color: white;
  background-color: #8EA2E2;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
}

main .container .row-cta .col-cta a:hover {
  background-color: #536aaa;
}

/* FINE MAIN */
/* INIZIO FOOTER */
footer .row-foot {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

footer .row-foot-info {
  display: flex;
  margin-top: 70px;
  border-bottom: 1px solid white;
}

footer .row-foot .row-foot-info .col-social .social-icon{
 display: flex;
}

footer h3,h4{
  color: #7887d6;
  padding: 10px;
}


footer .row-foot-info .col-foot ul li{
  list-style: none;
  padding: 10px;
}

footer .row-foot-info .social-icon a {
  padding: 10px;
  color: white;
  display: inline-block;
}

footer .row-foot-info .col-foot,.col-reg {
  width: 20%;
  padding: 40px;
  display: inline-block;
  justify-content: space-between;
}




footer .row-foot .row-foot-reg {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}

footer .row-foot-reg .col-foot-reg a {
  background-color: #7887d6;
  text-decoration: none; 
  padding: 20px;
  border-radius: 20px;
}

footer .row-foot-reg .col-foot-reg a:hover {
  background-color: #536aaa;
}
